.slide-container {
    display: inline-block;
    animation: 20s slide infinite linear;
    height: 220px;
}

.project-list {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.project-list::before,
.project-list::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 90%);
    pointer-events: none;
    z-index: 10;
}

.project-list::before {
    right: 0;
    transform: rotateZ(180deg);
}

.project-list::after {
    left: 0;
}

.project-list:hover .slide-container {
    animation-play-state: paused;
}

.project-card {
    display: inline-block;
    flex: 0 0 auto;
    margin: 20px;
    width: 300px;
    height: 150px;
    position: relative;
}

.project-card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10px;
    color: transparent;
    font-family: "customFont1";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: color 0.5s ease;
}

.project-card:hover .project-card__content {
    color: black
}

.project-card:hover .project-card__img {
    transform: scale(1.1);
}

.project-card__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    position: relative;
}

.project-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}