/* Main */

.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}

.about-me .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* Introduce */

.about-me .container .introduce {
    width: 400px;
    margin: 40px;
    text-align: center;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.introduce .title {
    font-size: 30px;
    font-family: "customFont1";
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}

.introduce .textArea {
    font-family: "customFont1";
    text-align: left;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    color: black;
}


/* Image */

.about-me .container .image {
    position: relative;
    align-self: center;
    border: #3a2b2b98 5px solid;
}

.image img {
    rotate: 5deg;
    width: 300px;
    -webkit-box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 32px -3px rgba(0, 0, 0, 0.75);
    transition: transform 0.5s ease;
}

.image img:hover {
    transform: rotate(-5deg) scale(0.95);
    transition: transform 0.5s ease;
}